.n-loading{
    position: fixed;
    top: 0px;
    height: auto;
    text-align: center;
    width: 100px;
    padding: 5px 0;
    background: green;
    right: -100px;
    transition:right 0.5s;
    -webkit-transition:right 0.5s;
    -o-transition:right 0.5s;
    -ms-transition:right 0.5s;
    -moz-transition:right 0.5s;
}