<ul>
    <li>main.js 中的paths 中配置controller路径</li>
    <li>app.js 配置route和view 需要使用的controller的名字</li>
</ul>
<h6>ng grid</h6>
<div ng-grid="gridOptions" style="width: 300px; height: 120px;"></div>
<h6>custom grid</h6>
<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <tr ng-repeat="item in data">
        <td>{{item.name}}</td>
        <td>{{item.age}}</td>
    </tr>
</table>
<h6>client cookies</h6>
<ul>
    <li>Key:<input type="text" ng-model="keyval.key"/>{{keyval.key}}</li>
    <li>Value:<input type="text" ng-model="keyval.val"/>{{keyval.val}}</li>
    <li>
        <button ng-click="setCookie()">set</button>
        <button ng-click="getCookie()">get</button>
    </li>
</ul>
<h6>datepicker</h6>
<div ui-date="dateOptions" name="DateOfBirth" ng-model="myDate"></div>{{myDate}}
        <input type="text" ui-date="dateOptions" ng-model="myDate"/>
