html,
body,
.left,
.right,
.layout
{height: 100%;}

.top{
    height:50px;
    background: rgb(48,0,0);
}
.top .logo{
    height: 100%;
    width: 213px;
    background: url("../images/logo.png") no-repeat;
}

.left{
    background: rgb(48,48,48);
}
.right{}

.right .header{
    background: rgb(120,26,26);
    color: white;
    padding: 10px 0;
    background: url("../images/right_header_bg.png") repeat-x;
}
.right .header .title{
    margin-left: 20px;
}