<form>
    <ul>
        <li>Name:<input type="text" name="Name"/></li>
        <li>Name:<input type="text" name="Age"/></li>
        <li><input type="button" value="Save"/><input type="reset" value="Reset"/></li>
    </ul>
</form>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
    </tr>
    </thead>
    <!--data-template is jquery selector-->
    <tbody data-template="#tmpUser">
    </tbody>
</table>
<!--data-source is context's value-->
<script type="text/html" data-source="Users" id="tmpUser">
    <tbody>
    <tr>
        <td>#[Name]</td>
        <td>#[Age]</td>
    </tr>
    </tbody>
</script>
<script type="text/javascript">
    var data={
        Users:[{
            Name:"name1",
            Age:1
        },{
            Name:"name2",
            Age:2
        }]
    };
    page.setContext(data);
</script>