<!--@style src=style/test.css-->
<!--@style src=style/test2.css-->
<!--@script src=script/test.js-->
<!--@script src=script/test2.js-->
<!--@section src=section/test.html-->
<!--@section src=section/test2.html-->
<style type="text/css">
    .innercss {
    }
</style>
<ul>
    <li>Name:@context.Name</li>
    <li>Sex: @if(context.Sex==0){男}@else{女}</li>
</ul>
<ul>
    @for(var i=0;i < context.List.length;i++){
    <li>context.List[i]</li>
    }
</ul>
<ul>
</ul>
<form>
    <input model="@context.Name"/>
</form>
<script type="text/javascript">
    function hello() {
        console.info("hello world");
    }
    var data={
        Name:"jean",
        Sex:0,
        List:["a","b"]
    };

    page.setContext(data);
    console.info(page);
    console.info(page.getValue("@context.Name"));
</script>
